{% extends 'global_base_ui.html' %} {% block left_sidebar %}

<a href="{% url 'accounts:user-page-view' %}" class="item">
    <i class="chart bar icon"></i>  
    Dashboard
</a>
<!--
<a href="{% url 'sales:po-list-view' %}" class="item">
    <i class="file alternate icon"></i>
    Client Purchase Orders

</a>
 -->

<!--
<a href= "#" class="item">
    <i class="money bill alternate outline icon"></i>
    Client Payments
</a>
-->

<a href="{% url 'sales:sales_invoice_list' %}" class="item">
    <i class="tags icon"></i>
    Sales Invoices
</a>

<!--
<a href="{% url 'sales:client_payment_list' %}" class="item">
    <i class="file alternate icon"></i>
    Edit Client Invoice Constants
</a>
-->

{% endblock %} {% block content %} {% endblock %}