{% extends 'global_base_ui.html' %} {% block left_sidebar %}

            <!-- <div class="ui vertical following fluid accordion text menu" style="font-size: 15px; padding: 10px;">
                <div class="item">
                    <a class="title">
                        <i class="dropdown icon"></i>
                        <b>Sales</b>
                    </a>
                    <div class="content menu">
                        <a href="{% url 'sales:JO_list' %}" class="item">
                            <i class="file alternate icon"></i>
                            Client Purchase Orders
                        </a>
                        <a href="{% url 'sales:po-list-view' %}" class="item"> 
                            <i class="chart area icon"></i>
                            Client Demand Forecast
                        </a>
                        <a href="client_page_list.html" class="item">
                            <i class="user outline icon"></i>
                            Clients
                        </a>
                        <a href="scheduling_page.html" class="item">
                            <i class="money bill alternate outline icon"></i>
                            Sales Invoices
                        </a>
                    </div>
                </div>
                <div class="item">
                    <a class="title">
                        <i class="dropdown icon"></i>
                        <b>Production</b>
                    </a>
                    <div class="content menu">
                        <a href="scheduling_page.html" class="item">
                            <i class="calendar alternate outline icon"></i>
                            Production Schedule
                        </a>
                        <a href="orders_page.html" class="item">
                            <i class="edit outline icon"></i>
                            Job Orders
                        </a>
                    </div>
                </div>
                <div class="item">
                    <a class="title">
                        <i class="dropdown icon"></i>
                        <b>Inventory</b>
                    </a>
                    <div class="content menu">
                        <a href="intentory_page.html" class="item">
                            <i class="warehouse icon"></i>
                            Raw Materials Inventory
                        </a>
                        <a href="" class="item">
                            <i class="chart line icon"></i>
                            Inventory Forecast
                        </a>
                        <a href="{% url 'sales:create-client-po-form' %}" class="item">
                            <i class="edit outline icon"></i>
                            Create Supplier Purchase Order
                        </a>
                        <a href="{% url 'sales:create-client-po-form' %}" class="item">
                            <i class="file outline icon"></i>
                            Supplier Purchase Order
                        </a>
                        <a href="supplier_list.html" class="item">
                            <i class="dolly icon"></i>
                            Suppliers
                        </a>
                    </div>
                </div>
            </div> -->
            
            <div class="ui huge inverted fluid vertical menu">
                <a class="active item" href="#}">Dashboard</a>
                <div class="item">
                    <b>Sales</b>
                    <a href="{% url 'sales:JO_list' %}" class="item">
                        <i class="file alternate icon"></i>
                        Client Purchase Orders
                    </a>
                    <a href="{% url 'sales:po-list-view' %}" class="item"> 
                        <i class="chart area icon"></i>
                        Client Demand Forecast
                    </a>
                    <a href="client_page_list.html" class="item">
                        <i class="user outline icon"></i>
                        Clients
                    </a>
                    <a href="scheduling_page.html" class="item">
                        <i class="money bill alternate outline icon"></i>
                        Sales Invoices
                    </a>
                </div>
                <div class="item">
                    <b>Production</b>
                    <a href="scheduling_page.html" class="item">
                        <i class="calendar alternate outline icon"></i>
                        Production Schedule
                    </a>
                    <a href="{% url 'production:job_order_list' %}" class="item">
                        <i class="list icon"></i>
                        Job Orders
                    </a>
                </div>
                <div class="item">
                    <b>Inventory</b>
                    <a href="{% url 'inventory:inventory_item_list' %}" class="item">
                        <i class="warehouse icon"></i>
                        Inventory List
                    </a>
                    <a href="" class="item">
                        <i class="chart line icon"></i>
                        Inventory Forecast
                    </a>
                    <a href="{% url 'inventory:supplierPO_create' %}" class="item">
                        <i class="edit outline icon"></i>
                        Create Supplier Purchase Order
                    </a>
                    <a href="{% url 'sales:create-client-po-form' %}" class="item">
                        <i class="file outline icon"></i>
                        Supplier Purchase Order
                    </a>
                    <a href="{% url 'sales:supplier_add' %}" class="ui dropdown item">
                        <i class="plus icon"></i>
                        Add Supplier
                    </a>
                    <a href="{% url 'sales:supplier_list' %}" class="ui dropdown item">
                        <i class="list icon"></i>
                        Suppliers List
                    </a>
                    <a href="{% url 'inventory:supplier_rawmat_add' %}" class="ui dropdown item">
                        <i class="plus icon"></i>
                        Add Supplier RM
                    </a>
                </div>
            </div>
                   

            <script>
                $('.ui.accordion')
                    .accordion();

            </script>

{% endblock %} {% block content %} {% endblock %}
