<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Big Apple Plastic Manufacturing Co.Information System</title>

    <!-- CSS -->
    <!-- <link rel="icon" href="{% static 'images/BAicon.png' %}" sizes="32x32">-->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">

    <!-- GANTT CHART RESOURCES -->
    <link rel="stylesheet" href="../../static/gantt chart/dist/frappe-gantt.css" />
    <script src="../../static/gantt chart/dist/frappe-gantt.js"></script>
</head>

<body>
    <!-- START MAIN -->

    <div class="ui vertical inverted left visible sidebar menu">

        <div style="color: white; padding: 10px;">
            <h2>
                {{request.session.session_fullname}}
            </h2>
            <p>
                {{request.session.session_position}}
            </p>
        </div>

        <div style="color: white; padding: 10px;">

        {% block left_sidebar %} {% endblock %}

        </div>

        <div class="center" style="font-size: 12px; padding: 10px;">
            <center>
                <a href="{% url 'accounts:logout' %}">
                    <i class="power off icon"></i>
                    Log out
                </a>&nbsp;&nbsp;&nbsp;
                <a>
                    <i class="question icon"></i>
                    FAQs
                </a>
            </center>
        </div>

        <div style="font-size: 10px; color:white; padding: 10px;">
            <center>
                <div class="footer-copyright">
                    <div class="container">
                        <span>Copyright ©
                          <script type="text/javascript">
                            document.write(new Date().getFullYear());
                          </script> Team OT. All rights reserved.
                        </span>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div class="segment">
        <div class="container" style="margin:10px 10px 10px 300px">

            {% block content %} {% endblock %}


        </div>
    </div>
    <!-- END MAIN -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <!--Formset files-->
    <script src="{% static 'jquery.formset.js' %}" charset="utf-8"></script>

    <script src="{% static 'semantic.min.js' %}"></script>
    {% block script %} {% endblock %}

</body>

</html>
