<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Big Apple Plastic Manufacturing Co.Information System</title>

    <!-- CSS -->
    <!-- <link rel="icon" href="{% static 'images/BAicon.png' %}" sizes="32x32">-->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">

    <!-- GANTT CHART RESOURCES -->
    <link rel="stylesheet" href="../../static/gantt chart/dist/frappe-gantt.css" />
    <script src="../../static/gantt chart/dist/frappe-gantt.js"></script>
</head>

<body>


    <div class="ui middle aligned center aligned grid" style="padding: 10px;">
        <div class="column">
            <div class="content">

                <h1>
                    Big Apple Plastic Manufacturing Co.
                </h1>

                <div class="ui middle inverted raised padded text container segment" style="width: 500px;">

                    {% block login %} {%endblock %}

                </div>
            </div>
        </div>
    </div>


    <style>
        body>.grid {
            height: 100%;
        }

    </style>

    <script type="text/javascript" src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <!--Formset files-->
    <script src="{% static 'jquery.formset.js' %}" charset="utf-8"></script>

    <script src="{% static 'semantic.min.js' %}"></script>

</body>

</html>
