{% extends "global_base_ui.html" %} {% block left_sidebar %}

    <a href="{% url 'accounts:user-page-view' %}" class="item">
        <i class="chart bar icon"></i>  
        Dashboard
    </a>

    <a href= "{% url 'production:production_schedule' %}" class="item">
        <i class="calendar alternate outline icon"></i>
        Production Schedule
    </a>

    <a href="{% url 'production:job_order_list' %}" class="item">
        <i class="edit outline icon"></i>
        Job Orders
    </a>

     <a href="{% url 'inventory:inventory_count_form' %}" class="item">
        <i class="file outline icon"></i>
        Physical Inventory Count
    </a>

    <a href= "{% url 'inventory:inventory_item_list' %}" class="item">
        <i class="warehouse icon"></i>
        Inventory
    </a>

    <a href= "{% url 'inventory:inventory_item_add' %}" class="item">
        <i class="plus circle icon"></i>
        Add Inventory Items
    </a>

    <a href="{% url 'inventory:materials_requisition_form' %}" class="item">
        <i class="plus circle icon"></i>
        Create Materials Requisition
    </a>

    <a href= "{% url 'inventory:purchase_requisition_form' %}" class="item">
        <i class="plus circle icon"></i>
        Create Purchase Requisition
    </a>

    <a href="{% url 'inventory:materials_requisition_list' %}" class="item">
        <i class="copy outline icon"></i>
        Materials Requisition
    </a>

    <a href= "{% url 'inventory:purchase_requisition_list' %}" class="item">
        <i class="copy outline icon"></i>
        Purchase Requisition
    </a>
{% endblock %} {% block content %} {% endblock %}
