<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Big Apple Plastic Manufacturing Co.</title>

    <!-- Icons-->
    <link rel="icon" href="{% static 'images/BAicon.png' %}" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">

    <!-- GANTT CHART RESOURCES -->
    <link rel="stylesheet" href="../../static/gantt chart/dist/frappe-gantt.css" />
    <script src="../../static/gantt chart/dist/frappe-gantt.js"></script>

</head>

<body>
    <!-- START MAIN -->

    <div class="ui vertical inverted left visible sidebar menu">

        <div style="color: white; padding: 10px;">
            <h2>
                Pareng Buchoy
            </h2>
            <p>
                Sales Agent
            </p>
        </div>

        <a class="item">
            <i class="chart bar icon"></i>  
            Dashboard
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>

        <div class="center" style="font-size: 12px; padding: 10px;">
            <center>
                <a>
                    <i class="cog icon"></i>
                    Settings
                </a>&nbsp;&nbsp;&nbsp;
                <a>
                    <i class="power off icon"></i>
                    Log out
                </a>&nbsp;&nbsp;&nbsp;
                <a>
                    <i class="question icon"></i>
                    FAQs
                </a>
            </center>
        </div>
        
        <div style="font-size: 10px; color:white; padding: 10px;">
            <center>
                <div class="footer-copyright">
                    <div class="container">
                        <span>Copyright ©
                          <script type="text/javascript">
                            document.write(new Date().getFullYear());
                          </script> Team OT. All rights reserved.
                        </span>
                    </div>
                </div>
            </center>
        </div>

    </div>

    <div class="pusher" style="padding: 10px;">

        <h1>
            Hello world.
        </h1>

    </div>

    <!-- END MAIN -->


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../static/semantic.min.js"></script>

</body>

</html>