{% extends 'login_register_ui.html' %} {% block login %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %} {%if form.errors %}
    <p>Error, incorrect username or password.</p>
    {% endif %} {% if next %}
    <p>You can't access this page</p>
    {% endif %}

    <label>Username: {{form.username}}</label>
    <label>Password: {{form.password}}</label>

    <br>
    
    <center>
        <button class="ui green basic button" type="submit" style="width: 100px;">Login</button>
        <button class="ui yellow basic button" type="clear" style="width: 100px;">Clear</button>
    </center>
    
</form>

{% endblock %}
