{% extends 'production_manager_page_ui.html' %}

{% block content %}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel">
                <h4 class="header1">{{ title }}</h4>
                    <div class="row">
                        <form class="col s12" action = "#" method="POST" role="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{form.rm_name}}
                                    <label for="supplier">RM Name:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.rm_type }}
                                    <label for="item_name">RM Type:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ form.quantity }}
                                    <label for="item_type">Quantity:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="center">
                                    <button class="btn btn-small green" type="submit">{{ actiontype }}</button>
                                    <button class="btn btn-small red" typle="clear">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>

{% endblock %}