{% extends 'general_manager_page_ui.html' %}

  {% block content %}

	<div class="ui container">
		<h2 class="ui header">Physical Count History </h2>
		<h3 class="ui header">{{ title }}</h3>
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th class = "four wide">Date Counted</th>
				<th class = "three wide">Time</th>
				<th class = "six wide">Person</th>
                <th class = "three wide">Count </th>
          	</tr>
    		</thead>
    		<tbody>
			{% if items %}
				{% for items in items %}
    			<tr class = "row">
					<td>{{ items.date_counted }}</td>
					<td>{{ items.time }}</td>
					<td>{{ items.person }}</td>
                    <td>{{ items.new_count }}</td>
    			</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no History Count to display</p>
			</td>
			{% endif %}
			</tbody>
		</table>
		<a href="{% url 'inventory:inventory_item_list'%}">Back</a>
	</div>

{% endblock %}