{% extends template %}

  {% block content %}

	<div class="ui container">
		<h2 class="ui header">{{ title }}</h2>
		{{msg}}
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th>Control Number</th>
                <th>Date Issued</th>
                <th>Status</th>
          	</tr>
    		</thead>
    		<tbody>

			{% if mr %}

				{% for mr in mr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:materials_requisition_details' mr.id %}">{{ mr }}</a>
                    </td>
                    <td>{{ mr.date_issued }}</td>
					{% if mr.status == 'approved' %}
						<td class="positive">
							<i class="icon checkmark">Approved</i>
						</td>
					{% else %}
						<td class = "warning">
							<i class = "hourglass half icon">Waiting</i>
						</td>
					{% endif%}
				</tr>
				{% endfor %}
			{% else %}

				<td>No Material Requisitions to show!</td>

			<td>
				<p>There are no Material Requisitions to display</p>
			</td>

			{% endif %}
			</tbody>
    	</table>
	</div>

{% endblock %}