{% extends template %}

  {% block content %}

	<div class="ui container">
		<h2 class="ui header">{{ title }}</h2>
		<table class="ui striped table">
        	<thead>
          	<tr class = "row">
                <th>Control Number</th>
                <th>Date Issued</th>
				<th>Date Required</th>
				<th>Placed By</th>
                <th>Status</th>
          	</tr>
    		</thead>
    		<tbody>


			{% if pr %}

				{% for pr in pr %}
    			<tr class = "row">
                    <td> 
                        <a href="{% url 'inventory:purchase_requisition_details' pr.id %}">{{ pr }}</a>
                    </td>
                    <td>{{ pr.date_issued }}</td>
					<td>{{ pr.date_required }}</td>
					<td>{{ pr.placed_by }}</td>
                    <td>{{ pr.status }}</td>
    			</tr>
				{% endfor %}
			{% else %}

			<td>
				<p>There are no Purchase Requisitions to display</p>
			</td>

			{% endif %}
			</tbody>
    	</table>
	</div>

{% endblock %}