{% extends template %}

{% block content %}

    <h2>Create SupplierPO Form</h2>

    <div class="ui container">
        <form id="myForm" method="post" enctype="multipart/form-data" novalidate>

                {% csrf_token %}
                {% include 'inventory/template_form.html' %}
                {% include 'inventory/template_formset.html' %}

            {{formset.management_form}}
            <button type="submit" class ="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            $(function() {
                $('#myForm .formset_class').formset({
                    prefix: '{{ formset.prefix }}'
                });            
            })

            $('#supplier').on('change', function() {
                alert( this.value );

            });
                
        });
    </script>

{%endblock %}