{% extends template %}

{% block content %}

<div class = "ui centered grid">
        <div class="six wide tablet ten wide computer column">
            <form class="ui form segment" action = "#" method="POST" role="form">
                <h2 class="ui dividing header">{{ title }}</h2>
                {% csrf_token %}
                <div class="field">
                    <label>Supplier</label>
                    {{ form.supplier }}
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Item Type</label>
                        {{ form.item_type }}
                    </div>
                    <div class="field">
                        <label>Item Name</label>
                        {{ form.item_name }}
                    </div>
                </div>
                <div class = "fields">
                    <div class="field">
                        <label>RM Type</label>
                        {{ form.rm_type }}
                    </div>
                    <div class="field">
                        <div style = "margin-top:30px;" class="ui left pointing label">
                            For Raw Materials Only
                        </div>
                    </div>
                    
                    <div class="field">
                        <label>Price</label>
                        {{ form.price }}
                    </div>
                </div>
              
                <button class="ui basic green button" type="submit">Submit</button>
            </form>
        </div>
</div>

{% endblock %}