{% extends template %}

{% block content %}

    <h2>Create SupplierPO Form</h2>

    <div class="sixteen wide column">
            <form id="myForm" class="ui form" action="{% url 'inventory:supplierPO_create' %}" method="post" enctype="multipart/form-data">
        
                {% csrf_token %}
                {% include 'inventory/template_form.html' %}
        
                <table style="width:100%" class = "ui celled padded table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    </thead>
                 <tbody>
                    {% for form in formset %}
                    <tr id="{{ form.prefix }}-row" class="formset_class">
                        {% if form.instance.pk %} {{ form.DELETE }}{% endif %}
                        <td>{{form.item_name}}</td>
                        <td>{{form.quantity}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                 </tbody>
                </table>
        
        
                {{formset.management_form}}
                <button type="submit" class="ui green basic button" onclick="return confirm('Are you sure?')">Submit</button>
            </form>
        </div>

{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            $(function() {
                $('#myForm .formset_class').formset({
                    prefix: '{{ formset.prefix }}'
                });            
            })

            $('#supplier').on('change', function() {
                alert( this.value );

            });
                
        });
    </script>

{%endblock %}