{% extends template %}

{% block content %}

<h2 class="ui header">Cutting Form</h2>
 
<div class="sixteen wide column">
    <div class="ui inverted segment">
        <form class="ui inverted form" action = "#" method="POST" role="form">
            {% csrf_token %}
            <div class="three fields">
                <div class="field">
                    <span>JO #:</span>
                    {{ form.job_order }}
                </div>
            </div>
            <div class="fields">
                <div class = "three wide field">
                    <label>Machine #:</label>
                    {{ form.machine }}
                </div>    
                <div class = "three wide field"></div>
                <div class = "three wide field">
                    <label>Time In:</label>
                    {{ form.time_in }}
                </div>
                <div class = "two wide field">
                    <label>Day In:</label>
                    {{ form.day_in }}
                </div>
                <div class = "three wide field">
                    <label>Time Out:</label>
                    {{ form.time_out }}
                </div>
                <div class = "two wide field">
                    <label>Day Out:</label>
                    {{ form.day_out }}
                </div>
            </div>    

            <div class="six fields">
                <div class="field">
                    <label>Line:</label>
                    {{ form.line }}
                </div>
                <div class="field">
                    <label>Quantity:</label>
                    {{ form.quantity }}
                </div>
                <div class="field">
                    <label>Output Kilos:</label>
                    {{ form.output_kilos }}
                </div>
                <div class="field">
                    <label>No. of Rolls:</label>
                    {{ form.number_rolls }}
                </div>
                <div class="field">
                    <label>Exit Scrap:</label>
                    {{ form.exit_scrap }}
                </div>
                <div class="field">
                    <label>Cutting Scrap:</label>
                    {{ form.cutting_scrap }}
                </div>
            </div>
            <div class="field">
                <div class="field">
                    <label>Remarks:</label>
                    {{ form.remarks }}
                </div>
            </div>
            <div class = "ui centered grid">
                <div class = "row">
                    <button class="ui green button" type="submit">Submit</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('#myForm .formset_class').formset({
                prefix: '{{ formset.prefix }}'
            });
        })

    </script>

{% endblock %}

{% endblock %}