{% extends template %}

{% block content %}

<div class = "ui grid">
    <div class="six wide tablet sixteen wide computer column">
        <form id = "myForm" class="ui form segment" action = "" method="POST" role="form">
            {% csrf_token %}
            <h2 class="ui header">JO#: {{ title }}</h2>
            <div class = "field">
                <label for="">Date Issued</label>
                <span>{{ data.client_po.date_issued }}</span>
            </div>
            <div class="four fields">
                <div class = "field">
                    <label for="">Client PO</label>
                    <span>{{ data.client_po }}</span>
                </div>
                <div class = "field">
                    <label for="">Client</label>
                    <span>{{ data.client_po.client }}</span>
                </div>
                <div class = "field">
                    <label for="">Rush Order</label>
                    <span>{{ data.rush_order }}</span>
                </div>
                <div class = "field">
                    <label for="">Total Amount</label>
                    <span>{{data.client_po.total_amount }}</span>
                </div>
            </div>
            <div class = "four fields">
                    <div class = "field">
                        <label for="">Status</label>
                        <span id = "status">{{data.status }}</span>
                    </div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class = "field">
                        <a id="approve_btn" style="display: none;" class="ui green button" href="{% url 'production:jo_approval' data.id %}">Approve</a>
                    </div>
            </div>
            <div class="field">
                <table class = "ui table">
                    <thead>
                        <th>Products</th>
                        <th>Laminate</th>
                        <th>Printed</th>
                        <th>Width</th>
                        <th>Length</th>
                        <th>Thickness</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody>
                        {% for i in items %}
                        <tr>
                            <td>{{ i.products.products }}</td>
                            {% if i.laminate ==  True %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                            
                            {% if i.printed ==  True %}
                                <td>Printed</td>
                            {% else %}
                                <td>Plain</td>
                            {% endif %}

                            <td>{{ i.width }}</td>
                            <td>{{ i.length }}</td>
                            <td>{{ i.thickness }}</td>
                            <td>{{ i.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="field">
                <label for="">Remarks</label>
                <span>{{ form.remarks }}</span>
            </div>
            
            <button class="ui green basic button" type="submit">Edit</button>
        </form>
    </div>
</div>

<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Extrustion</a>
    <a class="item" data-tab="second">Printing</a>
    <a class="item" data-tab="third">Cutting</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
     <!--Extrusion Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Extrusion Schedule</h4>
        <table class="ui celled table">
            <thead>
                <th>Date</th>
                <th>Machine</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Weight Rolls</th>
                <th>Core Weight</th>
                <th>Net Weight</th>
                <th>Output Kilos</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Extruder Scrap</th>
                <th>Balance</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for e in extrusion %}
                <tr>
                    <td>{{ e.date }}</td>
                    <td>{{ e.machine.machine_number }}</td>
                    <td>{{ e.time_in_day }}</td>
                    <td>{{ e.time_out_day }}</td>
                    <td>{{ e.weight_rolls }}</td>
                    <td>{{ e.core_weight }}</td>
                    <td>{{ e.net_weight }}</td>
                    <td>{{ e.output_kilos }}</td>
                    <td>{{ e.number_rolls }}</td>
                    <td>{{ e.starting_scrap }}</td>
                    <td>{{ e.extruder_scrap }}</td>
                    <td>{{ e.balance }}</td>
                    <td>{{ e.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    <!--Printing Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Printing Schedule</h4>
        <table class="ui celled table">
            <thead>
                <th>Date</th>
                <th>Machine</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Printing Scrap</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for p in printing %}
                <tr>
                    <td>{{ p.date }}</td>
                    <td>{{ p.machine.machine_number }}</td>
                    <td>{{ p.time_in_day }}</td>
                    <td>{{ p.time_out_day }}</td>
                    <td>{{ p.number_rolls }}</td>
                    <td>{{ p.exit_scrap }}</td>
                    <td>{{ p.printing_scrap }}</td>
                    <td>{{ p.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    <!--Printing Schedule-->
    <div class="ui container" style = "font-size: 12px;">
        <h4 class="ui block inverted header">Cutting Schedule</h4>
        <table class="ui celled table">
            <thead>
                <th>Date</th>
                <th>Machine</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Line</th>
                <th>Quantity</th>
                <th>Output Kilos</th>
                <th>Number Rolls</th>
                <th>Starting Scrap</th>
                <th>Cutting Scrap</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                {% for c in cutting %}
                <tr>
                    <td>{{ c.date }}</td>
                    <td>{{ c.machine.machine_number }}</td>
                    <td>{{ c.time_in_day }}</td>
                    <td>{{ c.time_out_day }}</td>
                    <td>{{ c.line }}</td>
                    <td>{{ c.quantity }}</td>
                    <td>{{ c.output_kilos }}</td>
                    <td>{{ c.number_rolls }}</td>
                    <td>{{ c.exit_scrap }}</td>
                    <td>{{ c.cutting_scrap }}</td>
                    <td>{{ c.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<a href="{% url 'production:job_order_list' %}">Back</a>
{% endblock %}

{% block script %}

    <script>
        $( document ).ready(function() {
            
            $(function() {
                $('.menu .item').tab();         
            })
            
            $(function() {
                if($('#status').text()=='Waiting'){
                    $('#approve_btn').show();
                }
            });

        });
    </script>

{%endblock %}