{% block content %}

<div id="basic-form" class="sixteen wide column">

    <div class="row">
        <div class="five wide column">
            <h4 class="header1">Confirm Purchase Order</h4>

            <div class="row">

                <h3 class="ui header">{{clientpo}}</h3>
		<table class="ui cell padded table">
        	<thead>
          	<tr>
                <th>Material Type</th>

              <th>Width (inches)</th>
              <th>Length(inches)</th>
                <th>Thickness(inches)</th>
              <th>Color</th>
              <th>Gusset</th>
              <th>Quantity</th>
                 <th>Laminate</th>
                <th>Printed</th>
                <th>Price/pc</th>
              <th>Item Price Sub-Total</th>
          	</tr>
    		</thead>


            <tbody>

                {% for clientitem in clientpo.clientitem_set.all %}
                <tr>
                    <td>{{ clientitem.products }}</td>

                    <td>{{ clientitem.width }}</td>
                    <td>{{ clientitem.length}}</td>
                    <td>{{ clientitem.thickness}}</td>
                    <td>{{ clientitem.color }}</td>
                    <td>{{ clientitem.gusset}}</td>
                    <td>{{ clientitem.quantity }}</td>

                     {% if clientitem.laminate ==  True %}
                   <td><i class="icon checkmark"></i></td>
                   {% else %}
                   <td ><i class="icon close"></i></td>
                    {% endif %}

                      {% if clientitem.printed ==  True %}
                   <td><i class="icon checkmark"></i></td>
                   {% else %}
                   <td ><i class="icon close"></i></td>
                    {% endif %}
                    <td>{{ clientitem.item_price}}</td>

                    <td>Item Price: {{clientitem.price_per_piece}}</td>
                </tr>
                {% endfor %}

                <tr>Total: {{clientpo.total_amount}}</tr>


			</tbody>
    	</table>
                {% if clientconstant.payment_terms < client.creditstatus.calculate_days_overdue %}
                <h2> This client's credit status is {{ client.creditstatus.calculate_days_overdue }} days overdue. </h2>
                {% else %}
                <h2> This client's credit status is cleared. </h2>

                #TODO: condition to show materials requirement and inventory levels



                    <div class="row">
                        <div class="center">
                            <button id="" class="ui green basic button" type="button" style="width: 200px;">Confirm</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
