 {% extends "client_page_ui.html" %} {% block content %}

<body>

		<h3 class="ui header">{{clientpo}}</h3>
		<table class="ui cell padded table">
        	<thead>
          	<tr>
                <th>Material Type</th>

              <th>Width (inches)</th>
              <th>Length(inches)</th>
                <th>Thickness(inches)</th>
              <th>Color</th>
              <th>Gusset</th>
              <th>Quantity</th>
                 <th>Laminate</th>
                <th>Printed</th>
                <th>Price/pc</th>
              <th>Item Price Sub-Total</th>
          	</tr>
    		</thead>


            <tbody>

                {% for clientitem in clientpo.clientitem_set.all %}
                <tr>
                    <td>{{ clientitem.products }}</td>

                    <td>{{ clientitem.width }}</td>
                    <td>{{ clientitem.length}}</td>
                    <td>{{ clientitem.thickness}}</td>
                    <td>{{ clientitem.color }}</td>
                    <td>{{ clientitem.gusset}}</td>
                    <td>{{ clientitem.quantity }}</td>

                     {% if clientitem.laminate ==  True %}
                   <td><i class="icon checkmark"></i></td>
                   {% else %}
                   <td ><i class="icon close"></i></td>
                    {% endif %}

                      {% if clientitem.printed ==  True %}
                   <td><i class="icon checkmark"></i></td>
                   {% else %}
                   <td ><i class="icon close"></i></td>
                    {% endif %}

                    <td>{{clientitem.price_per_piece}}</td>
                    <td>Total: {{ clientitem.item_price}}</td>


                </tr>
                {% endfor %}

                <tr>Grand Total: {{clientpo.total_amount}}</tr>


			</tbody>
    	</table>


<button class="ui button">
	<a href="{% url 'sales:po-list-view' %}">Back</a>
</button>



</body>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#editBTN').click(function() {
            if ($('#name').prop('disabled')) {
                $('#textfieldToClose').prop('disabled', false)
            } else {
                $('#textfieldToClose').prop('disabled', true)
            }
        });
    })

</script>
{% endblock %}
