{% block content %}

<h3 class="ui header">Finished Job Order Report</h3>


    <table class="ui celled padded table">
        <thead>
            <tr>
                <th>Purchase Order ID</th>
                <th>PO Number</th>
                <th>Client</th>
                <th>Items</th>
                <th>Sales Invoice Issued</th>

            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for JobOrder.status == 'Ready for delivery' in object_list %}
                <tr>
                    <td><a href="{% url 'sales:JO_details' JobOrder.id %}">{{ JobOrder }}</a></td>
                    <td>{{ JobOrder.client_po }}</td>
                    <td>{{ JobOrder.client_po.client }}</td>
                    {% for JobOrder.client_po.clientitems %}
                    #print items
                    {% endfor %}
                    <td> {{ JobOrder.client_po.SalesInvoice }} </td> #modify
                </tr>
                {% endfor %}
            {% else %}
            <td>
                <p>There are no Job Orders to display</p>
            </td>
			{% endif %}

        </tbody>
    </table>