{% extends template %}
{% block content %}

<h3 class="ui header">Job Order List</h3>


    <table class="ui cell padded table">
        <thead>
            <tr>
                <th>Purchase Order ID</th>
                <th>PO Number</th>
                <th>Client</th>
                <th>Items</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for JobOrder in object_list %}
                <tr>
                    <td><a href="{% url 'sales:JO_details' JobOrder.id %}">{{ JobOrder }}</a></td>
                    <td>{{ JobOrder.client_po }}</td>
                    <td>{{ JobOrder.client_po.client }}</td>
                    <td>{{ JobOrder.status }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <td>
                <p>There are no Job Orders to display</p>
            </td>
			{% endif %}

        </tbody>
    </table>

{% endblock %}
