{% extends "general_manager_page_ui.html" %} 

  {% block content %}
  	<h2 class="ui header">{{ title }}</h2>
		<table class="ui stripped table">
        	<thead>
          	<tr>
          	  	<th>Company</th>
				<th>Contact Person</th>
              	<th>Mobile Number</th>
				<th>Email</th>
				<th style="width: 100px;"></th>
          	</tr>
    		</thead>
    		<tbody>
			{% if supplier %}
				{% for supplier in supplier  %}
    			<tr>
    				<td>
						<a href="{% url 'inventory:supplier_details_list' supplier.id %}">{{ supplier.company_name }}</a>
					</td>
    				<td>{{ supplier.contact_person }}</td>
    				<td>{{ supplier.mobile_number }}</td>
					<td>{{ supplier.email_address }}</td>
					<td>
						<a style = "padding: 5px;"  href="{% url 'sales:supplier_edit' supplier.id %}">
							<i class="yellow edit icon"></i>
						</a>
						<a onclick="return confirm('Are you sure?')" style = "padding: 5px;" href="{% url 'sales:supplier_delete' supplier.id %}" >
							<i class="red trash icon"></i>
						</a>
					</td>
    			</tr>
				{% endfor %}
			{% else %}
			<td>
				<p>There are no Supplier to display</p>
			</td>
			{% endif %}
			</tbody>
    	</table>
	
{% endblock %}
