<!DOCTYPE html>
<html lang="en">
  <!--================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
  ================================================================================ -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Big Apple Plastic Manufacturing Co.</title>
 
    <!-- Favicons-->
    <link rel="icon" href="../../../accounts/images/BAicon.png" sizes="32x32">
     
    <!-- CORE CSS-->
    <link href="../../../accounts/static/css/materialize.css" type="text/css" rel="stylesheet">
 	<link href="../../../accounts/static/css/style.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="../../../frontend/static/css/custom.css" type="text/css" rel="stylesheet">
    
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="../../../accounts/static/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="../../../accounts/static/vendors/prism/prism.css" type="text/css" rel="stylesheet">
 	
  </head>
  
  <body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <!-- END LEFT SIDEBAR NAV-->
        
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        
        <!-- START CONTENT -->
        	<!--Start Form-->
              <div id="basic-form" class="section">
                <div class="row">
                  <div class="col s4 offset-s4">
                    <div class="card-panel">
                      <h4 class="header1">Account Details</h4>
                      <div class="row">
                        
                        <form class="col s12">
                         
	                      <div class="row">
    	                    <div class="input-field col s3">
            	              <label for="firstName">First Name:</label>
                	        </div>
                    	    <div class="input-field col s9">
                        	  <input id="firstName" type="text" disabled="true" placeholder="First Name">
                        	</div>
                          </div>
	                      <div class="row">
    	                    <div class="input-field col s3">
            	              <label for="lastName">Last Name:</label>
                	        </div>
                    	    <div class="input-field col s9">
                        	  <input id="lastName" type="text" disabled="true" placeholder="Last Name">
                        	</div>
                          </div>                          
	                      <div class="row">
    	                    <div class="input-field col s3">
            	              <label for="lastName">Email:</label>
                	        </div>
                    	    <div class="input-field col s9">
                        	  <input id="email" type="text" disabled="true" placeholder="Email@Address.com">
                        	</div>
                          </div>                          
		           		  <div class="row">
							<select class="browser-default" disabled="true">
    							<option value="" disabled selected>Position</option>
    							<option value="1">Sales Agent</option>
    							<option value="2">Sales Coordinator</option>
    							<option value="3">Credit and Collection Personnel</option>
    							<option value="4">Production Manager</option>
    							<option value="5">Supervisor</option>
    							<option value="6">Client</option>
    							<option value="7">Line Leader</option>
    							<option value="8">Client</option>
  				 		  	</select>
	         			  </div>
    	                  <div class="row">
    						<div class="center">
         						<button class="btn btn-small yellow darken-2" type="edit">Edit</button>
         						<button class="btn btn-small red" typle="clear">Delete</button>
         					</div>
                          </div>
	         			
	         			</div>
					  </form>
                      </div>
                    </div>                        
                </div>
            </div>
                        
                      </div>
                    </div>
        <!-- End placeholder -->
        <!--end container-->
     
        <!-- END CONTENT -->
        <!-- START RIGHT SIDEBAR NAV-->
        <!-- END RIGHT SIDEBAR NAV-->
      
    <!-- END WRAPPER -->
    <!-- END MAIN -->
  
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  
    <!-- START FOOTER -->
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="../../../accounts/static/js/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="../../../accounts/static/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="../../../accounts/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="../../../accounts/static/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="../../../accounts/static/js/custom-script.js"></script>
  </body>
</html>
{% extends 'sales/home.html' %}

{% block content %}
    

    {% for field in form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class ="text-danger small">{{field.errors}}</span>
            </div>
            <label class = "control-label col-sm-2">{{field.label_tag}}</label>
            <div class="col-sm-10">{{field}}</div>
        </div>
    {% endfor %}

{% endblock %}