<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<h1>HOME</h1>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--materialize css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href=""> <!--css folder here-->
</head>
<body>

    <div class = "container">

        <header>
            <h3>Global UI (Insert Nav Here)</h3>
        </header>

        {% block content %}
        
        {% endblock%}

    </div>
</body>
</html>